/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Trebuchet MS";
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {clear: both;}
/*===========================================================================*/

#fundo {
	width: 100%;
	height: auto;;
	background: url(../img/fundo.jpg) no-repeat top center;
}

.wrapper {
	width: 960px;
	height: auto;
	margin: 0px auto;
}

/*======================CABECALHO============================================*/

header {
	width: 100%;
	height: 46px;
	background: url(../img/fundo_head.png) top center no-repeat;
	margin: 20px auto 0 auto;
	position: absolute;

}

.alinha {
	margin: 0 auto;
	width: 960px;
}

.logo h1 {
	width: 281px;
	height: 46px;
	background: url(../img/logo2.png) no-repeat;
	text-indent: -9000px;
	float: left;
}

.logo h1 a {
	display: block;
	height:100%;
}

nav {
	float: right;
	width: 600px;
}

nav ul {
	padding-top: 15px;
}

nav ul li {
	display: inline;
	padding-left: 30px;
}

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	width: 100px;
}

nav ul li a:hover {
	color: #d33827;
}

.active a {
	text-decoration: underline;
}

/*======================SLIDER===========================================*/

#slider-nivo {
	position: relative;
	top: 110px;
	width: 945px;
	height: auto;
	margin: 0 auto;
	left: -6px;
}

#slider-nivo {
	-webkit-box-shadow: 10px 10px 15px #2e79c5;
	box-shadow: 10px 10px 15px #2e79c5;
	
}

/*======================SEÇOES==================================*/

.box {
	float: left;
	width: 300px;
	height: 220px;
	background-color: #bacdd5;
	position: relative;
	top: 180px;
}

.box ul li {
	float: left;
}

.box h2 {
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

.esq p, #depoi, #aspas {
	width: 275px;
	height: 110px;
/*	background-color: #ccc;*/
	margin-left: 12px;
	clear: both;
	font-size: 12px;
	color: #15365b;
	text-indent: 20px;
	text-align: justify;
	line-height: 20px;
}

.esq a {
	font-size: 12px;
	font-weight: 600;
	color: #15365b;
	text-align: right;
	width: 280px;
	display: block;
}


.meio {
	margin: 0px 30px;
}

.meio p, .lista li {
	width: 275px;
	height: 45px;
	margin-left: 12px;
	clear: both;
	font-size: 12px;
	color: #15365b;
	text-indent: 20px;
	text-align: justify;
	line-height: 20px;
}

.lista li {
	clear: both;
	line-height: 10px;
	height: 20px;	
}

.dir p, #depoi, #aspas {
	width: 275px;
	height: 50px;
	margin-left: 12px;
	clear: both;
	font-size: 12px;
	color: #15365b;
	text-indent: 20px;
	text-align: justify;
	line-height: 20px;
}

.dir span, #aspas {
	font-size: 42px;
	font-weight: bold;
}

#aspas {
	position: relative;
	top: 25px;
	left:  75px;
}

#resp {
	width: 280px;
	height: 20px;
	text-align: right;
	font-size: 12px;
	color: #15365b;
	font-weight: 600;
}

/*----------------------------Ação Social-------------------------------------*/

.acaoSocial {
	clear: both;
	position: relative;
	top: 210px;
	width: 960px;
	height: 120px;
	background-color: #bacdd5;
}

.acaoAcasa {
	clear: both;
	position: relative;
	top: 135px;
	width: 945px;
	height: 120px;
	background-color: #bacdd5;
}

.acaoFotos {
	clear: both;
	position: relative;
	top: 75px;
	width: 945px;
	height: 120px;
	background-color: #bacdd5;
}

.acaoSocial h3 {
	font-size: 14px;
	color: #15365b;
	padding: 5px 0px 0px 5px;
}

.acaoSocial ul {
	width: 810px;
	margin: 0 auto;
}

.acaoSocial li {
	float: left;
	margin: 10px 10px 10px 0;
	border: 2px dashed #999;
	padding: 30px;
	text-align: center;
}

.acaoSocial a {
	font-size: 13px;
	color: #15365b;
	text-decoration: none;
}
/*----------------------------Footer-------------------------------------*/

footer {
	width: 100%;
	height: 62px;
	background: url(../img/footer.jpg) bottom center no-repeat;
	position: relative;
	top: 240px;	
}

.footerAcasa {
	width: 100%;
	height: 62px;
	background: url(../img/footer.jpg) bottom center no-repeat;
	position: relative;
	top: 150px;	
}

.footerFotos {
	width: 100%;
	height: 62px;
	background: url(../img/footer.jpg) bottom center no-repeat;
	position: relative;
	top: 135px;	
}

footer p {
	width: 1280px;
	height: auto;
	margin: 0 auto;
	font-size: 11px;
	color: #15365b;
	text-align: center;
	padding-top: 35px;
}

footer p a, footer p a:visited {
	color: #15365b;
}

/*----------------------------ACASA-------------------------------------*/
.box_casa {
	float: left;
	width: 460px;
	height: 300px;
	background-color: #bacdd5;
	opacity: 0.7;
	position: relative;
	top: 85px;
}

.box_casa ul li {
	float: left;
}

.box_casa h2 {
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

.box_casa p {
	width: 435px;
	height: 230px;
	text-align: justify;
	font-size: 12px;
	padding-top: 70px;
	padding-left: 15px;
	text-indent: 0px;
	line-height: 20px;
	color: #14365b;
}

.sec_acasa img{
	width: 465px;
	height:300px;
	margin: 0 0 0 20px;
	position: relative;
	top: 85px;
}

.box_services {
	float: left;
	width: 460px;
	height: 220px;
	background-color: #bacdd5;
	opacity: 0.7;
	position: relative;
	top: 110px;
}

#servico li {
	float: left;
}

.box_services h2 {
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

#texto {
	width: 435px;
	height: 30px;
	font-size: 12px;
	color: #15365b;
	line-height: 15px;
	padding: 70px 0 0 15px;
}

#itens ul {
	float: left;
}

#itens ul li p {
	padding: 5px;
	height: 12px;
	color: #15365b;
	font-size: 12px;
}
.sec_serv img{
	width: 220px;
	height: 220px;
	margin: 0 0 0 20px;
	position: relative;
	top: 110px;
}

/*--------------------------------Fotos-------------------------*/

.box_fotos {
	float: left;
	width: 460px;
	height: 135px;
	position: relative;
	top: 85px;
}

.box_fotos ul li {
	float: left;
}

.box_fotos h2 {
	padding-top: 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

.gv_galleryWrap {
	margin: 0 auto;
}


/*------------------Localização------------------------------*/

.box_loc {
	float: left;
	width: 475px;
	height: 220px;
	background-color: #bacdd5;
	position: relative;
	top: 180px;
}

.box_loc ul li {
	float: left;
}

.box_loc h2 {
	padding: 20px 0 0 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

.box_loc p {
	width: 420px;
	height: 15px;
	margin-left: 12px;
	clear: both;
	font-size: 12px;
	color: #15365b;
	text-indent: 20px;
	text-align: justify;
	line-height: 25px;
	padding-top: 10px;
}

#meio {
	width: 420px;
	height: 15px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding-left: 85px;
	line-height: 40px;
}

.mapa {
	width: 440px;
	height: 220px;	
	position: relative;;
	top: 180px;
	left: 30px;
	float: left;
}

.ver_mapa {
	color: #15365b;
	font-weight: 600;
	text-decoration: none;
}

/*------------------CONTATO------------------------------*/

.box_contato {
	float: left;
	width: 620px;
	height: 230px;
	background-color: #bacdd5;
	position: relative;
	top: 180px;
}

.box_contato ul li {
	float: left;
}

.box_contato h2 {
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #15365b;
}

.box_contato img {
	margin-left: 10px;
}

.contato {
	width: 600px;
	height: 185px;
	margin-top: 47px;
	margin-left: 10px;
}

.contato label {
	width: 50px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #15365b;	
	float: left;
	padding-top: 10px;
}

.contato ul li {
	clear: both;
}

.contato input {
	width: 290px;
	margin-top: 2px;
}

#ladoEsq {
	width: 300px;
	height: 180px;
	float: left;
}

#ladoDir {
	width: 290px;
	height: 180px;
	float: left;
	margin-left: 10px;
}

#ladoDir textarea {
	width: 280px;
	height:115px;
	margin-top: 2px;
}

#ajusta {
	float: right;
	padding-right: 4px;
	padding-top: 5px;
}

#button {
	width: 70px;
	height: 25px;
	background-color: #d2e6ee;
	color: #15365b;	
}

#boneco {
	width: 330px;
	height: 230px;
	background-color: #bacdd5;
	position: relative;
	top: 180px;
	left: 630px;
}

#boneco img {
	clear: both;
	position: relative;
	top: -220px;
	left: 50px;
}
